body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FaF8;
    background-color: #1F2937;
    padding: 10px;
}

.link-cont {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.section-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 80px;
    gap: 100px;
    flex: 1;
}

.illust {
    border: solid #3882F6;
    border-radius: 25px;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
}

.img-subtext {
    display: flex;
    justify-content: center;
    max-width: 200px;
    text-align: center;
}

.illust-cont {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
}

.info-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900; 
}

.one-button {
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 15px;
    border: 0;
    padding: 10px 25px;
}

.hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    max-width: 400px;
    gap: 10px;
}

.section-three {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 700px;
}

.quote {
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    flex: 1;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 700px;
    gap: 100px;
    margin: 50px;
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 20px;
    color: white;
}

.cta-button {
    width: 140px;
    height: 40px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border: solid 2px;
    border-color: white;
    padding: 0;
    font-weight: 900;
    font-size: 14px;
}

.cta-excl {
    font-size: 20px;
    font-weight: 800;
}

.cta-cont {
    display: flex;
    flex-direction: column;
    
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 40px 0;
}