body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FaF8;
    background-color: #1F2937;
    padding: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.section-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 80px;
    gap: 100px;
    flex: 1;
}

.one-button {
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 25px;
    border: 0;
    padding: 10px 15px;
}

.hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}